.entry {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.icon {
  height: 20px;
  width: 20px;
  background: brown;
  border-radius: 100%;
}

.entry-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle {
  height: 20px;
  width: 20px;
  background: grey;
  border-radius: 100%;
}
